@{
    ViewData["Title"] = "Innowise";
}

<div class="text-center">
    <h1 class="display-4">Welcome to app</h1>
    <p>Innowise task consists from client (ASP.NET) and server (Web API) part.</p>
    <p>My GitHub <a href="https://github.com/MagzyCode">link</a>.</p>
    <p>My VK <a href="https://vk.com/magzycode707">link</a>.</p>
    <p>Execute stored procedure <a href="https://vk.com/magzycode707"></a>.</p>
</div>
