@model IEnumerable<ProductsViewModel>

<h2>All products</h2>
<br />
<div>
    <div class="list-group">
        <table class="table">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>
                        <form method="get">
                            <button type="submit" class="btn btn-primary mb-2" asp-controller="Products" asp-action="UpdateProduct" asp-route-id="@item.Id">Update</button>
                        </form>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>