@model UpdatedProductViewModel

<form method="post" enctype="multipart/form-data" asp-controller="Products" asp-action="UpdateProducts">
    <div class="form-group row">
        <label asp-for="Image" class="col-xs-2 col-form-label">Fridge image</label>
        @if (Model?.Image?.Length != 0)
        {
            <img height="80" width="80" src="@string.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.Image))" />
        }
        else
        {
            <img height="80" width="80" src="~/Files/Images/NoImage.png" />
        }
        @Html.HiddenFor(modelItem => Model.Image)
        <span asp-validation-for="Image"></span>
    </div>
    <div class="form-group row">
        <label asp-for="ImageData" class="col-xs-2 col-form-label">Fridge image input</label>
        <span></span>
        <input asp-for="ImageData" type="file" accept="image/jpg, image/jpeg, image/png" class="custom-file" id="example-text-input">
        <span asp-validation-for="ImageData"></span>
    </div>
    <div class="form-group row">
        <label asp-for="Name" class="col-xs-2 col-form-label">Fridge name</label>
        <br />
        <input asp-for="Name" value="@Model.Name" class="form-control col-xs-2" type="text" id="example-text-input">
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group row">
        <label asp-for="DefaultQuantity" class="col-xs-2 col-form-label">Default quantity</label>
        <br />
        <input asp-for="DefaultQuantity" class="form-control col-xs-5" type="number" id="example-text-input">
        <span asp-validation-for="DefaultQuantity"></span>
    </div>
    <div class="form-group row">
        <button asp-controller="Products" asp-action="UpdateProduct" type="submit" class="btn btn-primary mb-2">Update fridge</button>
    </div>
</form>
@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}